.admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Optional: space between the images */
  align-items: center;
  gap: 20px;
}